@use 'colors.scss' as *;

.main {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 30px 30px 30px;
  column-gap: 30px;
  row-gap: 10px;
  color: $text-primary;
}

.row {
  display: flex;
  & > * {
    flex:1
  }
}

.header {
  color: $text-secondary;
}

.action {
  cursor: pointer;
  color: $primary;
  padding: 0 10px;
}

.accepted {
  color: $success;
}

.rejected {
  color: $error;
}