$white: #FFFFFF;
$secondary: #1CC589;
$success: #1CC589;
$secondary-bg: #d5f6eb;
$primary: #5493E7;
$primary-bg: #DDE8EE;
$text-secondary: #385C8C;
$text-primary: #A0B4BE;
$soft-back: #F0F7FA;
$dark: #132338;
$grey-light: #D7D7D7;
$grey: #898989;
$red: #dd3333;
$error: #dd3333;
$black: #000000;